<mat-toolbar color="primary" class="mat-elevation-z2">
  <button
    mat-icon-button
    class="example-icon"
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>apps</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="SignOut()">
    <mat-icon>logout</mat-icon>
    <span>Log Out</span>
  </button>
</mat-menu>
