.table-container {
  width: 100%;

  .input-button-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-right: 25px;
  }

  .mat-row {
    border: none;
    transition: all 0.4s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: rgb(236, 235, 235);
    }
  }

  .mat-row:nth-child(odd) {
    background-color: rgb(243, 243, 243);
    transition: all 0.4s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: rgb(236, 235, 235);
    }
  }

  td.mat-cell,
  th.mat-header-cell {
    border: none;
  }
}
