<app-header></app-header>

<div class="main">
  <mat-tab-group dynamicHeight animationDuration="2000ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <div
          class="mat-tab-label-icon"
          (click)="getTabTitle((getTitle = 'Email'))"
        >
          <mat-icon> email</mat-icon>
          <span>Email Credentials</span>
        </div>
      </ng-template>
      <app-email></app-email>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div
          class="mat-tab-label-icon"
          (click)="getTabTitle((getTitle = 'Web'))"
        >
          <mat-icon>public</mat-icon>
          <span>Website Credentials</span>
        </div>
      </ng-template>
      <app-web></app-web>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div
          class="mat-tab-label-icon"
          (click)="getTabTitle((getTitle = 'Crypto'))"
        >
          <mat-icon> monetization_on</mat-icon>
          <span>Crypto Wallets</span>
        </div>
      </ng-template>
      <app-crypto></app-crypto>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div
          class="mat-tab-label-icon"
          (click)="getTabTitle((getTitle = 'Other'))"
        >
          <mat-icon>account_balance_wallet</mat-icon>
          <span>Others</span>
        </div>
      </ng-template>

      <app-others></app-others>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template>
  <!-- <mat-card class="example-card" fxFlex="0 1 50%">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
          <td mat-cell *matCellDef="let row">
            <img
              src="{{ row.img_path }}"
              width="95"
              height="95"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let row">{{ row.category }}</td>
        </ng-container>

        <ng-container matColumnDef="subcategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Sub-Category
          </th>
          <td mat-cell *matCellDef="let row">{{ row.subcategory }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let row">{{ row.price }}</td>
        </ng-container>

        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
          <td mat-cell *matCellDef="let row">{{ row.size }}</td>
        </ng-container>

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Color</th>
          <td mat-cell *matCellDef="let row">{{ row.color }}</td>
        </ng-container>

        <ng-container matColumnDef="inventory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Inventory</th>
          <td mat-cell *matCellDef="let row">{{ row.inventory }}</td>
        </ng-container>

        <ng-container matColumnDef="sku">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SKU</th>
          <td mat-cell *matCellDef="let row">{{ row.sku }}</td>
        </ng-container>

        <ng-container matColumnDef="dateposted">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date Listed
          </th>
          <td mat-cell *matCellDef="let row">{{ row.datelisted }}</td>
        </ng-container>

        <ng-container matColumnDef="dateupdated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date Updated
          </th>
          <td mat-cell *matCellDef="let row">{{ row.dateupdated }}</td>
        </ng-container>

        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button>
              <mat-icon color="green">remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button (click)="getDoc()">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteDoc()">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </mat-card> -->
</ng-template>
